.feynman {
    margin: 0 auto 100px;
    box-sizing: border-box;
    min-height: 890px;
    position: relative;
    display: flex;
    flex-direction: column;
    background-color: #f2f2f2;
    background-image: url(../../images/feynman.png);
    background-repeat: no-repeat;
    background-size: 867px 637px;
    background-position: left bottom;
    align-items: center;
  }