.header {
    background-color: #f2f2f2;
    position: relative;
    height: 100vh;
    min-height: 600px;
    max-height: 756px;
    display: flex;
    align-items: center;
    margin: 0 0 100px 0;
    text-align: center;
    z-index: 1;  
    overflow: hidden;
  }