
.section-title_theme_dark {
    margin: 0;
    line-height: 1.15;
    font-size: 60px;
    font-weight: 600;
    width: 60%;
    padding-top: 90px;
    padding-bottom: 20px;
    display: flex;
    text-align: center;
    justify-content: center;
    align-self: center;
}
