.table_theme_dark {
    position: relative;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    min-width: 1100px;
    padding-left: 0;
    padding-bottom: 90px;
}