.page {
  min-width: 1100px;
  max-width: 1600px;
  margin: 0;
  font-family: 'Helvetica Neue', Arial, sans-serif;
}

.header {
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  align-items: center;
  margin: 0;
  text-align: center;
  z-index: 1;  
}

.logo {
  width: 228px;
  height: 32px;  
}

.logo__img {
  width: 228px;
  height: 32px;  
}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
}

.header__title {
  position: relative;
  flex-direction: column;
  text-align: left;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  margin: 0;
  max-width: 730px;
  width: 100%;
  margin-left: 64px; 
}

.header__subtitle {
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  width: 388px;
  left: 64px;
  box-sizing: border-box;
  align-self: flex-end;
  margin: 0;
  text-align: left;
}

.header__link {
  color: #2f80ed;
  text-decoration: none;
}

.header__square-pic {
  position: absolute;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  z-index: -2;
}

.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 765px;
  height: 608px;
  align-items: flex-end;
  z-index: -1;
}

.content {
  margin: 0;
}

.description {
  margin: 0;
  display: flex;
  justify-content: center;
}

.two-columns {
  width: 80%;
  display: flex;
  justify-content: space-between;
  padding-top: 100px;
}

.two-columns__main-text {
  min-width: 784px;
  margin: 0;
  display: flex;
  width: 80%;
  flex-direction: column;
}

.two-columns__brief {
  margin-top: 0px;
  margin: 0;
  width: 175px;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  align-self: flex-start;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph:last-child {
  margin: 0;
}

.two-columns__span-accent {
  font-weight: 600;
}

.digits {
  margin: 100px 0 100px 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center; 
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  max-width: 60%;
  margin: 0;
  padding-top: 100px;
  padding-bottom: 20px;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0;
  text-align: center;
  max-width: 60%;
  width: 100%;
}


.table {
  width: 1100px;
  margin: 0 auto 0 auto;
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0;
}

.table__cell {
  margin: 60px 0 0;
  width: 250px;
}

.table__heading {
  margin: 0px;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__text {
  margin: 20px 0 0 0;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.feynman {
  margin: 100px auto 0 auto;
  box-sizing: border-box;
  min-height: 890px;
  position: relative;
  display: flex;
  flex-direction: column;
  background-color: #f2f2f2;
  background-image: url(../images/feynman.png);
  background-repeat: no-repeat;
  background-size: 867px 637px;
  background-position: left bottom;
  align-items: center;
}

.feynman__title {
  color: #000000;
  text-align: center;
  display: flex;
  margin: 0;
  max-width: 648px;
  line-height: 1.15;
  font-size: 120px;
  font-weight: 600;
  padding-top: 100px;
  padding-bottom: 70px;
}

.feynman__subtitle {
  color: #000000;
  display: flex;
  margin: 0;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
}

.feynman__link {
  position: absolute;
  top: 50%;
  right: 48px;
  text-decoration: none;
  line-height: 51px;
  font-size: 36px;
  font-weight: normal;
  justify-content: flex-end;
  color: #2f80ed;
}

.kaufman {
  position: relative;
  margin: 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-color: #1f1f1f;
  color: white;
  overflow: hidden;
  z-index: 1;
  
}


.table_theme_dark {
  position: relative;
  margin-top: 0;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  min-width: 1100px;
  padding-left: 0;
  padding-bottom: 90px;
}

.section-title_theme_dark {
  margin: 0;
  line-height: 1.15;
  font-size: 60px;
  font-weight: 600;
  width: 60%;
  padding-top: 90px;
  padding-bottom: 20px;
  display: flex;
  text-align: center;
  justify-content: center;
  align-self: center;
}

.section-subtitle_theme_dark {
  margin: 0;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
  width: 60%;
}

.table__heading_theme_dark {
  margin: 0;
  line-height: 1.15;
  font-size: 24px;
  font-weight: 600;
}

.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin: 80px 0 0;
  padding: 0;
}

.table__text_theme_dark {
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
}

.kaufman__triangle {
  background-image: url(../images/kaufman-triangle.svg);
  width: 877px;
  height: 877px;
  position: absolute;
  top: 0;
  right: -210px;
  z-index: -1;
}

.footer {
  min-height: 350px;
  min-width: 90%;
  background-color: #1f1f1f;
  margin: 0;
  display: flex;
  color: white;
  position: relative;
}

.footer__author {
  margin: 18px 0;
  flex-direction: column;
  text-align: end;
  align-items: flex-end;
  justify-content: space-around;
  line-height: 25px;
  font-size: 18px;
  font-weight: normal;
  color: white;
}

.footer__columns {
  width: 90%;
  padding-top: 60px;
  padding-bottom: 40px;
  margin: 0 auto 0 auto;
  display: flex;
  justify-content: space-between;
}

.footer__column_content_copyright {
  flex-basis: 711px;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}

.logo_place_footer {
  align-items: flex-start;
  height: 32px;
  width: 228px;
  color: white;
}

.footer__column-heading {
  margin: 0;
  line-height: 30px;
  font-size: 18px;
  font-weight: 600;
}

.footer__column-links {
  margin: 0;
  text-align: left;
  padding-left: 0;
  text-decoration: none;
  list-style: none;
  color: white;
  padding-top: 20px;
  padding-bottom: 16px;
}

.footer__column-link {
  line-height: 30px;
  font-size: 18px;
  font-weight: normal;
  text-align: left;
  color: white;
  text-decoration: none;
  list-style: none;
}


.footer__column-list {
  list-style: none;
}

.footer__social-icon {
  padding-right: 10px;
  width: 16px;
  height: 16px;
}