.page {
  min-width: 1100px;
  /* мы ещё не умеем делать мобильную версию сайта, */
  /* поэтому выше установлена минимальная ширина страницы */
  max-width: 1600px;
  /* выше установили ограничение по максимальной ширине */
  margin: 0;
  /* выше для экранов больше 1600px отцентрировали весь контент */
  font-family: 'Helvetica Neue', Arial, sans-serif;

}
p {
  margin: 0;
}

.header {
  background-color: #f2f2f2;
  position: relative;
  height: 100vh;
  min-height: 600px;
  max-height: 756px;
  display: flex;
  margin: 0;
  text-align: center;
  color: #000000;
  /* выше установили ограничения для секции */
}

.header__title {
  position: relative;
  text-align: left;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  font-size: 102px;
  line-height: 96px;
  margin: 0;
  width: 730px;
  position: relative;
  left: 64px;
  top: 30%;

}

.header__subtitle {
  line-height: 25px;
  font-weight: normal;
  font-size: 18px;
  position: absolute;
  bottom: 30px;
  width: 388px;
  left: 64px;
  box-sizing: border-box;
  align-self: flex-end;
  margin: 0;
  text-align: left;
}

.header__subtitle-link {
  color: #2f80ed;
  text-decoration: none;

}

.logo_place_header {
  position: absolute;
  top: 30px;
  left: 64px;
  width: 228px;
  height: 32px;
}


/* ниже мы привели пример двух селекторов, чтобы вы вспомнили запись элемента */
.header__square-pic {
  position: absolute;
  right: 0px;
  top: 64px;
  background-color: #2f80ed;
  height: 568px;
  width: 568px;
  z-index: 1;

}

.header__main-illustration {
  position: absolute;
  right: 0px;
  bottom: 0px;

  width: 765px;
  height: 608px;
  align-items: flex-end;
  z-index: 3;
}

.content {
  margin: 0;
}

.description {
  padding-top: 100px;
  justify-content: space-between;
  
}

.two-columns {

  min-width: 784px;
  display: flex;
  align-items: center;
  
  padding-top: 100px;

}

.two-columns__main-text {
  margin: 0;
  display: flex;
  width: 80%;
  flex-direction: column;

}



.two-columns__brief {
  margin: 0;
  width: 175px;
  flex-direction: column;
  line-height: 1.2;
  font-size: 18px;
  font-weight: normal;
  color: #2f80ed;
  display: flex;
  
  
}

.two-columns__paragraph {
  margin-top: 0;
  margin-bottom: 30px;
  align-self: flex-start;
  line-height: 34px;
  font-size: 24px;
  font-weight: normal;
}

.two-columns__paragraph-bold {
  font-weight: 600;
}

.digits {
  padding-top: 100px;
  padding-bottom: 100px;
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.section-title {
  font-size: 60px;
  font-weight: 600;
  line-height: 1.15;
  display: flex;
  justify-content: center;
  align-self: center;
  align-items: center;
  width: 60%;
  margin: 0 auto;
  padding-top: 100px;
  padding-bottom: 20px;
}

.section-subtitle {
  display: flex;
  justify-content: center;
  font-size: 24px;
  font-weight: normal;
  line-height: 34px;
  margin: 0 auto;
  text-align: center;
  padding-bottom: 60px;
  width: 60%
 

}



.table {
  width: 1100px;
  margin: auto;
  padding-bottom: 100px;
  list-style: none;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
 
}

.table__cell {
  width: 250px;
}

.bank {
  padding-top: 20px;
}

.table__heading {
  font-size: 24px;
  font-weight: 600;
  line-height: 1.15;


}

.table__text {
  padding-top: 20px;
  line-height: 1.2;
  font-style: 18px;
  font-weight: normal;
  
}

.feynman {
margin: 0;
min-height: 890px;
position: relative;
display: flex;
flex-direction: column;
background-color: #f2f2f2;
background-color: #f2f2f2;
background-image: url(../images/feynman.png);
background-repeat: no-repeat;
background-size: 867px 637px;
background-position: left bottom;
align-items: center;

}

.feynman__title {
color: #000000;
text-align: center;
margin: 100px 0 0 0;
max-width: 648px;
line-height: 1.15;
font-size: 120px;
font-weight: 600;

}

.feynman__subtitle {
color: #000000;
margin-top: 70px;
margin-left: 0;
margin-right: 0;
margin-bottom: 0;
line-height: 51px;
font-size: 36px;
font-weight: normal;

} 

.feynman__link {
position: absolute;
top: 50%;
right: 48px;
text-decoration: none;
line-height: 51px;
font-size: 36px;
font-weight: normal;
justify-content: flex-end;
padding-right: 48px;
color: #2f80ed;

}


/* и элемента с модификатором вида ключ-значение */
.table__cell_theme_dark {
  width: 200px;
  color: white;
  margin-right: 0;
  margin-top: 80px;
}

.footer {
  background-color: #1f1f1f;
  margin: 0;
}